<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BeautyItem.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2BF6CEBC1EE02E4F00255217</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BF6CED01EE02E4F00255217</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BF6CEDB1EE02E4F00255217</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
